@import "tailwindcss";


.glass-gradient {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.089), rgba(255, 255, 255, 0));
    backdrop-filter: blur(1.5px);
  }

.glass-gradient2 {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.089), rgba(255, 255, 255, 0));
    backdrop-filter: blur(1.5px);
  }
